.apod-section {
  margin-top: 30px;
}

.image {
  min-height: 500px;
}

.apod-date,
.apod-title,
.apod-explanation {
  color: #ededed;
}

.apod-title {
  text-align: center;
  padding: 1rem 0;
}

.apod-explanation {
  text-align: justify;
}
