<section id="apod-section" class="apod-section">
  <div class="container-fluid" *ngIf="apod">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Astronomy Picture of the Day</h2>
          <div class="d-flex justify-content-between">
            <button class="btn btn-success btn-sm" (click)="previousApod()"><i class="bi bi-chevron-double-left"></i></button>
            <span class="apod-date">{{ apod.date | date: 'longDate'}}</span>
            <button class="btn btn-success btn-sm" (click)="nextApod()"><i class="bi bi-chevron-double-right"></i></button>
          </div>
          
          <hr style="color: #ffffff;">
        </div>
      </div>
    </div>
    <div class="row px-3">
      <div class="col-5">
        <div class="image" style="background: url('{{apod.url}}') center / contain no-repeat;" [lightbox]="0"
          [gallery]="galleryId"></div>
      </div>
      <div class="col-7">
        <h4 class="apod-title">{{ apod.title }}</h4>
        <p class="apod-explanation"><strong>Explanation: </strong>{{apod.explanation}}</p>
      </div>
    </div>
  </div>
</section>